$size = 4vw

.FooterItem
    text-align: center
    img
        width: 5vw
    &.haveNotifications
        position: relative
    .notifications
        position: absolute
        top: -2vw
        right: -2vw
        background-color: #fb9818
        border-radius: 50%
        width: $size
        height: $size
        line-height: $size