.Balance
    padding: 0 2vh
    font-size: 3vw
    .balanceContainer
        display: flex
        justify-content: space-between
        .balance
            line-height: 2vw
            display: grid
            grid-template-columns: 1fr auto 3vw
            grid-gap: 1vw
            align-items: center
            .values
                justify-self: end
            .coinIcon
                width: 3vw
                height: 3vw
        .capital
            font-size: 10vw
            line-height: 1em