.Bot
    background-color: #1b293e
    border-radius: 5px
    &.active
        background: radial-gradient(circle, rgba(27,41,62,1) 0%, rgba(26,52,80,1) 80%);
    .botColumn
        display: flex
        flex-direction: column
        align-items: center
        width: 40%
        justify-content: flex-end
        height: 27vw
        margin: 0 auto
        padding-bottom: 4vw
        font-size: 2.5vw
        img
            width: 100%
        .positive
            color: #5ea753
            font-weight: 800
        .negative
            color: #f2427e
            font-weight: 800
        :nth-child(2n)
            margin-top: 15px