.TimeRange
    padding: 0 2vh 1vh 2vh
    font-size: 3vw
    display: flex
    justify-content: space-between
    span
        line-height: 5vw
    .tab
        border: 1px solid #4d6078
        padding: 1vw
        border-radius: 30px
        width: 15%
        text-align: center
        &_active
            border: 1px solid white
            color: white
            background-color: #18283c